.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.product h3 {
    margin-top: 10px;
}

.product p {
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.buy-now-button,
.add-to-cart-button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buy-now-button:hover,
.add-to-cart-button:hover {
    background-color: #0056b3;
}